/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --black-color: hsl(220, 24%, 12%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);
    --white-color: #fff;
    --body-color: hsl(220, 100%, 97%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: .938rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
}

ul {
    list-style: none;
    /* Color highlighting when pressed on mobile devices */
    /*-webkit-tap-highlight-color: transparent;*/
}

a {
    text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #294CFC;
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
    height: var(--header-height);
}

.nav__logo,
.nav__burger,
.nav__close {
    color: var(--white-color);
}

.nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--font-semi-bold);
    /* Color highlighting when pressed on mobile devices */
    /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
    font-weight: initial;
    font-size: 1.25rem;
}

.nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
}

.nav__burger,
.nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}

.nav__close {
    opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
    .nav__menu {
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;
    }

    .nav__menu::-webkit-scrollbar {
        width: 0;
    }

    .nav__list {
        background-color: #294CFC;
        padding-top: 1rem;
    }
}

.nav__link {
    color: var(--white-color);
    background-color: #294CFC;
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
}

.nav__link:hover {
    background-color: #1d27de;
}

/* Show menu */
.show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav__close {
    opacity: 1;
    transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
    cursor: pointer;
}

.dropdown__arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
}

.dropdown__link,
.dropdown__sublink {
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    color: var(--white-color);
    background-color: #294CFC;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-semi-bold);
    transition: background-color .3s;
}

.dropdown__link i,
.dropdown__sublink i {
    font-size: 1.25rem;
    font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
    background-color: #1d27de;
}

.dropdown__menu,
.dropdown__submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover>.dropdown__submenu {
    max-height: 1000px;
    transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
    margin-left: auto;
}

.dropdown__sublink {
    background-color: #294CFC;
    ;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .nav__link {
        padding-inline: 1rem;
    }
}

/* For large devices */
@media screen and (min-width: 1118px) {
    .container {
        margin-inline: auto;
    }

    .nav {
        height: calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: space-between;
    }

    .nav__toggle {
        display: none;
    }

    .nav__list {
        height: 100%;
        display: flex;
        column-gap: 3rem;
    }

    .nav__link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: .25rem;
    }

    .nav__link:hover {
        background-color: transparent;
    }

    .dropdown__item,
    .dropdown__subitem {
        position: relative;
    }


    .dropdown__menu,
    .dropdown__submenu {
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 6rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s, top .3s;
    }

    .dropdown__link,
    .dropdown__sublink {
        padding-inline: 1rem 3.5rem;
    }

    .dropdown__subitem .dropdown__link {
        padding-inline: 1rem;
    }

    .dropdown__submenu {
        position: absolute;
        left: 100%;
        top: .5rem;
    }

    .dropdown__item:hover .dropdown__menu {
        opacity: 1;
        top: 5.5rem;
        pointer-events: initial;
        transition: top .3s;
    }

    .dropdown__subitem:hover>.dropdown__submenu {
        opacity: 1;
        top: 0;
        pointer-events: initial;
        transition: top .3s;
    }
}

/*<!--=============== Section inicio ===============-->*/
.section-inicio {
    width: 100%;
    padding: 200px 0 100px 0;
    position: relative;
    /* Asegúrate de que esta sección sea un contenedor relativo */
}

.section-inicio .contenido-texto {
    position: relative;
    /* Esto permite que el contenido esté por encima del video */
    z-index: 5;
    /* Asegúrate de que el texto esté sobre el video */
}

.section-inicio .contenido-texto h1 {
    margin-bottom: 50px;
    margin-left: 50px;
    font-size: 70px;
    letter-spacing: 1.5px;
    font-family: "Montserrat";
    font-weight: 900;
    color: #ffff;
}

.section-inicio .contenido-texto h2 {
    color: #ffff;
    width: 75%;
    margin-bottom: 50px;
    margin-left: 50px;
    font-size: 50px;
    letter-spacing: 1.5px;
    font-family: "Montserrat";
    font-weight: 900;
}

.section-inicio video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
    /* Baja la opacidad para permitir que los textos se vean mejor */
    z-index: 1;
    /* Asegúrate de que el video esté detrás */
}

.section-inicio .contenido-texto p {
    font-size: 1.1em;
    color: #fff;
    margin: 20px 50px;
    font-family: "Montserrat";
    font-weight: 700;
    max-width: 700px;
    line-height: 22px;
}

.section-inicio .imagen {
    position: absolute;
    right: 10px;
    z-index: 5;
    /* La imagen está por encima del video */
}


/*<!--=============== Section quienes somos ===============-->*/
.quienes-somos {
    padding: 100px 0 40px 0;
    background-color: #ffff;
    width: 100%;
    height: 100%;
}


.quienes-somos h2 {
    font-family: "Montserrat";
    color: black;
    letter-spacing: 1.3px;
    font-weight: 900;
    font-size: 50px;
    margin-left: 30px;
    text-align: center;
}

/*<!--=============== ecard1 ===============-->*/

.contenido-somos1 .imagen-card {
    width: 100%;

}

.contenido-somos1 .imagen-card img {
    border-radius: 10px;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 400px;
    float: right;
    margin-right: 80px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16/9;
}

.e-card1 {
    margin: 90px 50px;
    background: transparent;
    position: relative;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    /* Necesario para el efecto 3D */
}

.card-content {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* Para que las caras se comporten como 3D */
}

.name1 {
    margin: 10px 20px;
    font-family: "Montserrat";
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 1em;
    text-align: justify;
    text-transform: lowercase;
}

.icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
}

.infotop1 {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.back-content {
    margin: 10px 20px;
    font-family: "Montserrat";
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 1em;
    text-align: justify;
    text-transform: lowercase;

}

.e-card1:hover .card-content {
    transform: rotateY(180deg);
    /* Gira la tarjeta */
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* Oculta el reverso cuando no se muestra */
    border-radius: 16px;
    overflow: hidden;
}

.card-front {
    background-color: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
}

.card-back {
    background-color: #5b42f3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    /* Reversa de la tarjeta */
}

/* Estilos de las ondas, compartidos entre ambas caras */
.wave1 {
    position: absolute;
    width: 640px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -30%;
    margin-top: -40%;
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
    border-radius: 40%;
    animation: wave 55s infinite linear;
}


.playing1 .wave1:nth-child(2) {
    animation-duration: 4000ms;
}

.wave1:nth-child(2) {
    top: 210px;
    animation-duration: 50s;
}

.playing1 .wave1:nth-child(3) {
    animation-duration: 5000ms;
}

.wave1:nth-child(3) {
    top: 210px;
    animation-duration: 45s;
}

.wave-trasera {
    position: absolute;
    width: 640px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
    border-radius: 40%;
    animation: wave 55s infinite linear;
}

.wave-trasera:nth-child(2) {
    top: 210px;
    animation-duration: 50s;
}

.wave-trasera:nth-child(3) {
    top: 210px;
    animation-duration: 45s;
}

.playing1 .wave-trasera {
    animation-duration: 3000ms;
}

.playing1 .wave-trasera:nth-child(2) {
    animation-duration: 4000ms;
}

.playing1 .wave-trasera:nth-child(3) {
    animation-duration: 5000ms;
}


@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/*<!--=============== ecard2 ===============-->*/

.contenido-somos1 .imagen-card2 {
    width: 100%;

}

.contenido-somos1 .imagen-card2 img {
    border-radius: 10px;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 400px;
    float: left;
    margin-left: 45px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16/9;
}


.e-card2 {
    margin: 10px 65%;
    background: transparent;
    position: relative;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    /* Necesario para el efecto 3D */
}

.card-content2 {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* Para que las caras se comporten como 3D */
}

.name2 {
    margin: 10px 20px;
    font-family: "Montserrat";
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 1em;
    text-align: justify;
    text-transform: lowercase;
}

.icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
}

.infotop2 {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.back-content2 {
    margin: 10px 20px;
    font-family: "Montserrat";
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 1em;
    text-align: justify;
    text-transform: lowercase;

}

.e-card2:hover .card-content2 {
    transform: rotateY(180deg);
    /* Gira la tarjeta */
}

.card-front2,
.card-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* Oculta el reverso cuando no se muestra */
    border-radius: 16px;
    overflow: hidden;
}

.card-front2 {
    background-color: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
}

.card-back2 {
    background-color: #5b42f3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    /* Reversa de la tarjeta */
}

/* Estilos de las ondas, compartidos entre ambas caras */
.wave2 {
    position: absolute;
    width: 640px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -30%;
    margin-top: -40%;
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
    border-radius: 40%;
    animation: wave 55s infinite linear;
}


.playing2 .wave2:nth-child(2) {
    animation-duration: 4000ms;
}

.wave2:nth-child(2) {
    top: 210px;
    animation-duration: 50s;
}

.playing2 .wave2:nth-child(3) {
    animation-duration: 5000ms;
}

.wave2:nth-child(3) {
    top: 210px;
    animation-duration: 45s;
}

.wave-trasera2 {
    position: absolute;
    width: 640px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
    border-radius: 40%;
    animation: wave 55s infinite linear;
}

.wave-trasera2:nth-child(2) {
    top: 210px;
    animation-duration: 50s;
}

.wave-trasera2:nth-child(3) {
    top: 210px;
    animation-duration: 45s;
}

.playing2 .wave-trasera2 {
    animation-duration: 3000ms;
}

.playing2 .wave-trasera2:nth-child(2) {
    animation-duration: 4000ms;
}

.playing2 .wave-trasera2:nth-child(3) {
    animation-duration: 5000ms;
}


@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*<!--=============== ecard3 ===============-->*/
.contenido-somos1 .imagen-card3 {
    width: 100%;

}

.contenido-somos1 .imagen-card3 img {
    border-radius: 10px;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 400px;
    float: right;
    margin: 80px 70px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16/9;
}

.e-card3 {
    margin: 90px 50px;
    background: transparent;
    position: relative;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    /* Necesario para el efecto 3D */
}

.card-content3 {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* Para que las caras se comporten como 3D */
}

.name3 {
    margin: 10px 20px;
    font-family: "Montserrat";
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 1em;
    text-align: justify;
    text-transform: lowercase;
}

.icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
}

.infotop3 {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.back-content3 {
    margin: 10px 20px;
    font-family: "Montserrat";
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 1em;
    text-align: justify;
    text-transform: lowercase;

}

.e-card3:hover .card-content3 {
    transform: rotateY(180deg);
    /* Gira la tarjeta */
}

.card-front3,
.card-back3 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* Oculta el reverso cuando no se muestra */
    border-radius: 16px;
    overflow: hidden;
}

.card-front3 {
    background-color: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
}

.card-back3 {
    background-color: #5b42f3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    /* Reversa de la tarjeta */
}

/* Estilos de las ondas, compartidos entre ambas caras */
.wave3 {
    position: absolute;
    width: 640px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -30%;
    margin-top: -40%;
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
    border-radius: 40%;
    animation: wave 55s infinite linear;
}


.playing3 .wave3:nth-child(2) {
    animation-duration: 4000ms;
}

.wave3:nth-child(2) {
    top: 210px;
    animation-duration: 50s;
}

.playing3 .wave3:nth-child(3) {
    animation-duration: 5000ms;
}

.wave3:nth-child(3) {
    top: 210px;
    animation-duration: 45s;
}

.wave-trasera3 {
    position: absolute;
    width: 640px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
    border-radius: 40%;
    animation: wave 55s infinite linear;
}

.wave-trasera3:nth-child(2) {
    top: 210px;
    animation-duration: 50s;
}

.wave-trasera3:nth-child(3) {
    top: 210px;
    animation-duration: 45s;
}

.playing3 .wave-trasera3 {
    animation-duration: 3000ms;
}

.playing3 .wave-trasera3:nth-child(2) {
    animation-duration: 4000ms;
}

.playing3 .wave-trasera3:nth-child(3) {
    animation-duration: 5000ms;
}


@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/*<!--=============== ecard4 ===============-->*/

.contenido-somos2 .imagen-card4 {
    width: 100%;

}

.contenido-somos2 .imagen-card4 img {
    border-radius: 10px;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 400px;
    float: left;
    margin-left: 45px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16/9;
}

.e-card4 {
    margin: 10px 65%;
    background: transparent;
    position: relative;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    /* Necesario para el efecto 3D */
}

.card-content4 {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* Para que las caras se comporten como 3D */
}

.name4 {
    margin: 10px 20px;
    font-family: "Montserrat";
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 1em;
    text-align: justify;
    text-transform: lowercase;
}

.icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
}

.infotop4 {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.back-content4 {
    margin: 10px 20px;
    font-family: "Montserrat";
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 1em;
    text-align: justify;
    text-transform: lowercase;

}

.e-card4:hover .card-content4 {
    transform: rotateY(180deg);
    /* Gira la tarjeta */
}

.card-front4,
.card-back4 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* Oculta el reverso cuando no se muestra */
    border-radius: 16px;
    overflow: hidden;
}

.card-front4 {
    background-color: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
}

.card-back4 {
    background-color: #5b42f3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    /* Reversa de la tarjeta */
}

/* Estilos de las ondas, compartidos entre ambas caras */
.wave4 {
    position: absolute;
    width: 640px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -30%;
    margin-top: -40%;
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
    border-radius: 40%;
    animation: wave 55s infinite linear;
}


.playing4 .wave4:nth-child(2) {
    animation-duration: 4000ms;
}

.wave4:nth-child(2) {
    top: 210px;
    animation-duration: 50s;
}

.playing4 .wave4:nth-child(3) {
    animation-duration: 5000ms;
}

.wave4:nth-child(3) {
    top: 210px;
    animation-duration: 45s;
}

.wave-trasera4 {
    position: absolute;
    width: 640px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
    border-radius: 40%;
    animation: wave 55s infinite linear;
}

.wave-trasera4:nth-child(2) {
    top: 210px;
    animation-duration: 50s;
}

.wave-trasera4:nth-child(3) {
    top: 210px;
    animation-duration: 45s;
}

.playing4 .wave-trasera4 {
    animation-duration: 3000ms;
}

.playing4 .wave-trasera4:nth-child(2) {
    animation-duration: 4000ms;
}

.playing4 .wave-trasera4:nth-child(3) {
    animation-duration: 5000ms;
}


@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*<!--=============== ecard5 ===============-->*/

.contenido-somos2 .imagen-card5 {
    width: 100%;

}

.contenido-somos2 .imagen-card5 img {
    border-radius: 10px;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 400px;
    float: right;
    margin: 80px 70px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16/9;
}

.e-card5 {
    margin: 90px 50px;
    background: transparent;
    position: relative;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    /* Necesario para el efecto 3D */
}

.card-content5 {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* Para que las caras se comporten como 3D */
}

.name5 {
    margin: 10px 20px;
    font-family: "Montserrat";
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 1em;
    text-align: justify;
    text-transform: lowercase;
}

.icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
}

.infotop5 {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.back-content5 {
    margin: 10px 20px;
    font-family: "Montserrat";
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 1em;
    text-align: justify;
    text-transform: lowercase;

}

.e-card5:hover .card-content5 {
    transform: rotateY(180deg);
    /* Gira la tarjeta */
}

.card-front5,
.card-back5 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* Oculta el reverso cuando no se muestra */
    border-radius: 16px;
    overflow: hidden;
}

.card-front5 {
    background-color: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
}

.card-back5 {
    background-color: #5b42f3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    /* Reversa de la tarjeta */
}

/* Estilos de las ondas, compartidos entre ambas caras */
.wave5 {
    position: absolute;
    width: 640px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -30%;
    margin-top: -40%;
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
    border-radius: 40%;
    animation: wave 55s infinite linear;
}


.playing5 .wave5:nth-child(2) {
    animation-duration: 4000ms;
}

.wave5:nth-child(2) {
    top: 210px;
    animation-duration: 50s;
}

.playing5 .wave5:nth-child(3) {
    animation-duration: 5000ms;
}

.wave5:nth-child(3) {
    top: 210px;
    animation-duration: 45s;
}

.wave-trasera5 {
    position: absolute;
    width: 640px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
    border-radius: 40%;
    animation: wave 55s infinite linear;
}

.wave-trasera5:nth-child(2) {
    top: 210px;
    animation-duration: 50s;
}

.wave-trasera5:nth-child(3) {
    top: 210px;
    animation-duration: 45s;
}

.playing5 .wave-trasera5 {
    animation-duration: 3000ms;
}

.playing5 .wave-trasera5:nth-child(2) {
    animation-duration: 4000ms;
}

.playing5 .wave-trasera5:nth-child(3) {
    animation-duration: 5000ms;
}


@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*<!--=============== ecard6 ===============-->*/

.contenido-somos2 .imagen-card6 {
    width: 100%;

}

.contenido-somos2 .imagen-card6 img {
    border-radius: 10px;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 400px;
    float: left;
    margin-left: 45px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16/9;
}

.e-card6 {
    margin: 10px 65%;
    background: transparent;
    position: relative;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    /* Necesario para el efecto 3D */
}

.card-content6 {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* Para que las caras se comporten como 3D */
}

.name6 {
    margin: 10px 20px;
    font-family: "Montserrat";
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 1em;
    text-align: justify;
    text-transform: lowercase;
}

.icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
}

.infotop6 {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.back-content6 {
    margin: 10px 20px;
    font-family: "Montserrat";
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 1em;
    text-align: justify;
    text-transform: lowercase;

}

.e-card6:hover .card-content6 {
    transform: rotateY(180deg);
    /* Gira la tarjeta */
}

.card-front6,
.card-back6 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* Oculta el reverso cuando no se muestra */
    border-radius: 16px;
    overflow: hidden;
}

.card-front6 {
    background-color: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
}

.card-back6 {
    background-color: #5b42f3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    /* Reversa de la tarjeta */
}

/* Estilos de las ondas, compartidos entre ambas caras */
.wave6 {
    position: absolute;
    width: 640px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -30%;
    margin-top: -40%;
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
    border-radius: 40%;
    animation: wave 55s infinite linear;
}


.playing6 .wave6:nth-child(2) {
    animation-duration: 4000ms;
}

.wave6:nth-child(2) {
    top: 210px;
    animation-duration: 50s;
}

.playing6 .wave6:nth-child(3) {
    animation-duration: 5000ms;
}

.wave6:nth-child(3) {
    top: 210px;
    animation-duration: 45s;
}

.wave-trasera6 {
    position: absolute;
    width: 640px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
    border-radius: 40%;
    animation: wave 55s infinite linear;
}

.wave-trasera6:nth-child(2) {
    top: 210px;
    animation-duration: 50s;
}

.wave-trasera6:nth-child(3) {
    top: 210px;
    animation-duration: 45s;
}

.playing6 .wave-trasera6 {
    animation-duration: 3000ms;
}

.playing6 .wave-trasera6:nth-child(2) {
    animation-duration: 4000ms;
}

.playing6 .wave-trasera6:nth-child(3) {
    animation-duration: 5000ms;
}


@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*<!--=============== Equipo ===============-->*/
.equipos {
    margin: 100px 40px;
}

.contenido-carta {
    display: flex;
}

/**Contenido-carta1 */
.contenido-carta1 {
    margin-top: -40px;
    display: flex;
}

.contenido-titulo h2 {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

.contenido-titulo p {
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 700;
    text-align: justify;
}

.carta {
    border-radius: 10px;
    margin: 40px 20px;
    background-color: var(--surface-color);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    padding: 20px 20px;
}

.contenido {
    display: flex;
    margin: 20px 20px;

}

.informacion {
    margin: 0 40px;
}

.informacion h4 {
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 10px;
    color: #00368b;
}

.informacion span {
    margin-top: 10px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 15px;
    color: #505867;
}

.informacion p {
    margin-top: 20px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    color: #505867;
}

.informacion .icono {
    margin: 20px 0;
    position: absolute;
    left: 275px;

}

/** iconos 1 */

ul {
    list-style: none;
}

.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

.example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #e3eadb;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2 .icon-content a:hover {
    color: white;
}

.example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
    height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"]~.tooltip {
    background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"]~.tooltip {
    background-color: #24262a;
}

.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"]~.tooltip {
    background: linear-gradient(45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f);
}

.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"]~.tooltip {
    background-color: #ff0000;
}


/** iconos 2*/
ul {
    list-style: none;
}

.example-2-equipo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-content-equipo {
    /*quiero que se mueva los iconos hacia la izquierda */
    top: 20px;
    position: absolute;
    right: 15px;
}

.example-2-equipo .icon-content-equipo {
    margin: 0 10px;
    position: relative;
}

.example-2-equipo .icon-content-equipo .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.example-2-equipo .icon-content-equipo:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

.example-2-equipo .icon-content-equipo a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #e3eadb;
    transition: all 0.3s ease-in-out;
}

.example-2-equipo .icon-content-equipo a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2-equipo .icon-content-equipo a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.example-2-equipo .icon-content-equipo a:hover {
    color: white;
}

.example-2-equipo .icon-content-equipo a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.example-2-equipo .icon-content-equipo a:hover .filled {
    height: 100%;
}

.example-2-equipo .icon-content-equipo a[data-social="linkedin"] .filled,
.example-2-equipo .icon-content-equipo a[data-social="linkedin"]~.tooltip {
    background-color: #0274b3;
}

.example-2-equipo .icon-content-equipo a[data-social="github"] .filled,
.example-2-equipo .icon-content-equipo a[data-social="github"]~.tooltip {
    background-color: #24262a;
}

.example-2-equipo .icon-content-equipo a[data-social="instagram"] .filled,
.example-2-equipo .icon-content-equipo a[data-social="instagram"]~.tooltip {
    background: linear-gradient(45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f);
}

.example-2-equipo .icon-content-equipo a[data-social="youtube"] .filled,
.example-2-equipo .icon-content-equipo a[data-social="youtube"]~.tooltip {
    background-color: #ff0000;
}

/**section servicios */
.servicios {
    margin: 50px 0;

}


.contenido-titulo-servicios p {
    text-align: center;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 500;
    margin: 30px 0;
}

.contenido-titulo-servicios h2 {
    text-align: center;
    font-family: "Montserrat";
    font-size: 50px;
    font-weight: 900;
}


/** card servicios */
.contenido-servicios1 {
    display: flex;
    margin: 0 50px;
}

.contenido-servicios2 {
    display: flex;
    margin: 0 50px;
}

/**button*/
/* From Uiverse.io by xueyuantan */
button {
    margin: 20px 0;
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}


.card-title {
    color: #262626;
    font-size: 1.5em;
    line-height: normal;
    font-family: "Montserrat";
    font-weight: 900;
    margin-bottom: 0.5em;
}

.small-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
}

.small-desc {
    font-size: 1em;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #384c6c);
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.card {
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    position: relative;
    max-width: 400px;
    max-height: 350px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
    font-family: Arial, Helvetica, sans-serif;
}

.card:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #364a60, #384c6c);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
}

.card:hover:before {
    transform: scale(31);
}

.card:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
}

.card:hover .card-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
}

.contenido-alimento {
    display: flex;
    margin: 100px 0;
}

.contenido-alimento .imagen .img-movimiento {
    position: absolute;
    right: 100px;
    animation: movimientoVertical 3s ease-in-out infinite;
}

@keyframes movimientoVertical {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.contenido-texto-alimento {
    width: 30%;
    margin: 65px 85px;
    padding: 20px 20px;
}

.contenido-texto-alimento h2 {
    font-family: "Montserrat";
    font-size: 45px;
    font-weight: 900;
    margin: 20px 0;
}

.contenido-texto-alimento p {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
}

/**Button Registro Alimenticio*/
.btn {
    transition: all 0.3s ease-in-out;
    font-family: "Dosis", sans-serif;
}

.btn {
    width: 190px;
    height: 50px;
    border-radius: 50px;
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    box-shadow: -1px 21px 36px -10px rgba(35, 32, 217, 1);
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 24px;
    color: white;
}

.btn:hover {
    transform: translateY(3px);
    box-shadow: none;

}

.btn:active {
    opacity: 0.5;
}

/** Categoria de alimentos */
.contenido-carrusel{
    margin: 200px 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

.contenido-carrusel .slide .item{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.3s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3){
    left: 50%;
}
.slide .item:nth-child(4){
    left: calc(50% + 220px);
}
.slide .item:nth-child(5){
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}



.item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}

    .content button:hover {
        color: #FFFFFF; /* White */
        background-color: #FF8C00; /* Dark orange */
    }


.slide .item:nth-child(2) .content{
    display: block;
}


.content .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover{
    background: #ababab;
    color: #fff;
}