a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;

  -webkit-font-smoothing: antialiased;
}

menu,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sign-up-registro,
.sign-up-registro * {
  box-sizing: border-box;
}

.sign-up-registro {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}

.frame-263 {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 640px;
  height: 813px;
  position: absolute;
  left: 679px;
  top: 107px;
}

.frame-261 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 76px;
  position: relative;
}

.registro {
  color: var(--t, #313131);
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  position: relative;
}

.vamos-a-prepararte-para-que-puedas-acceder-a-tu-cuenta-personal {
  color: var(--t, #313131);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.75;
  position: relative;
}

.frame-258 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.frame-259 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 449px;
  position: relative;
}

.frame-266 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text-field {
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 56px;
  position: relative;
}

.text-field2 {
  background: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-color: #79747e;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.state-layer {
  border-radius: 4px 4px 0px 0px;
  padding: 8px 0px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.contenido{
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  height: 40px;
  position: relative;
}

.input-tex{
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}


.content {
  width: 290px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  height: 40px;
  position: relative;
}

.input-text2  input{
  width: 300px;
  height: 50px;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  font-family: sans-serif;
  color: #1c1b1f;
  outline: none;
}

.input-text2 input::placeholder{
  color: #1c1b1f;
}

.Contraseña{
  width: 615px;
  height: 50px;
  outline: none;
  font-size: 17px;
  font-family: sans-serif;
  font-style: italic;
  color: #1c1b1f;
}


.input-text {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.input-text2 {
  color: #1c1b1f;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.label-text {
  background: #ffffff;
  padding: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: -4px;
  top: -16px;
}

.label-text2 {
  color: #1c1b1f;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

.frame-267 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text-field3 {
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}

.frame-269 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.frame-268 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text-field4 {
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}

.state-layer2 {
  border-radius: 4px 4px 0px 0px;
  padding: 4px 0px 4px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.label-text3 {
  color: var(--t, #313131);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}

.trailing-icon {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}

.eye-off {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}

.eye-off2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}

.frame-101 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.checkbox {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}

.acepto-todos-los-t-rminos-y-pol-ticas-de-privacidad {
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.acepto-todos-los-t-rminos-y-pol-ticas-de-privacidad-span {
  color: var(--t, #313131);
  font-family: "Poppins-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.acepto-todos-los-t-rminos-y-pol-ticas-de-privacidad-span2 {
  color: #ff8682;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.acepto-todos-los-t-rminos-y-pol-ticas-de-privacidad-span3 {
  color: var(--t, #313131);
  font-family: "Poppins-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.acepto-todos-los-t-rminos-y-pol-ticas-de-privacidad-span4 {
  color: #ff8682;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.frame-2682 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 640px;
  position: relative;
}

.style-layer {
  background: var(--p, #515def);
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}

.button2 {
  color: #f3f3f3;
  text-align: left;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: relative;
}

.ya-tienes-una-cuenta-login {
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  width: 640px;
}

.ya-tienes-una-cuenta-login-span {
  color: var(--t, #313131);
  font-family: "Poppins-Medium", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.ya-tienes-una-cuenta-login-span2 {
  color: #ff8682;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.frame-262 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.rectangle-6 {
  background: var(--t, #313131);
  opacity: 0.25;
  flex: 1;
  height: 0.5px;
  position: relative;
}

.o-reg-strate-con {
  color: var(--t, #313131);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
  position: relative;
}

.rectangle-7 {
  background: var(--t, #313131);
  opacity: 0.25;
  flex: 1;
  height: 0.5px;
  position: relative;
}

.frame-228 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.frame-225 {
  border-radius: 4px;
  border-style: solid;
  border-color: var(--p, #515def);
  border-width: 1px;
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}

.flat-color-icons-google {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}

.group-4 {
  position: absolute;
  inset: 0;
}

.rectangle-20 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 30px;
  width: 486.42px;
  height: 816px;
  position: absolute;
  left: 104px;
  top: 104px;
  object-fit: cover;
}

.frame-265 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 53.7px;
  position: absolute;
  left: 320.36px;
  top: 886px;
}

.ellipse-6 {
  background: #ffffff;
  border-radius: 50%;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
}

.ellipse-7 {
  background: #ffffff;
  border-radius: 50%;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  position: relative;
}

.group-8 {
  position: absolute;
  inset: 0;
}

.group-3 {
  width: 24px;
  height: 24px;
  position: static;
}

.ellipse-1 {
  background: linear-gradient(96.14deg,
      rgba(58, 142, 246, 1) 0%,
      rgba(111, 58, 250, 1) 100%);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1295px;
  top: 83px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.12),
    0px 4px 19px 0px rgba(22, 120, 242, 0.2);
}

.group-2 {
  width: 13.57px;
  height: 13.57px;
  position: static;
}

.rectangle-21 {
  background: #ffffff;
  border-radius: 0.78px;
  width: 5.22px;
  height: 13.57px;
  position: absolute;
  left: 1304.17px;
  top: 87.5px;
}

.rectangle-22 {
  background: #ffffff;
  border-radius: 0.78px;
  width: 5.22px;
  height: 13.57px;
  position: absolute;
  left: 1313.57px;
  top: 91.67px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}

.a {
  background: var(--gradient-1,
      linear-gradient(96.14deg,
        rgba(58, 142, 246, 1) 0%,
        rgba(111, 58, 250, 1) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-family: "Sora-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 1196px;
  top: 84.33px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.b-s-d-3 {
  width: 75px;
  height: 54px;
  position: absolute;
  left: 1112px;
  top: 74px;
  object-fit: cover;
}