@font-face {
    font-family: "Montserrat";
    src: url('../Fonts/Montserrat-MediumItalic.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url('../Fonts/Montserrat-BlackItalic.ttf') format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Montserrat";
    src: url('../Fonts/Montserrat-ExtraBoldItalic.ttf') format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url('../Fonts/Montserrat-LightItalic.ttf') format("truetype");
    font-weight: 700;
}