@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-MediumItalic.ttf) format("truetype");
    font-weight: 500;
}


@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-ExtraBoldItalic.ttf) format("truetype");
    font-weight: 700;
}