*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    font-weight: 800;
}
.contenido {
    display: flex;
    font-size: 15px;
}

.navbar {
    width: 100%;
    padding: 2rem;
    background: purple;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.nav-enlaces {
    display: flex;
    gap: 2rem;
}

.nav-enlace, .deslizar li {
    list-style: none;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: currentColor;
}

.deslizar {
    position: absolute;
    padding: 0.10rem;
    margin: 0.5rem -0.5rem;
    background: antiquewhite;
    color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    font-size: 12px;
    display: none;
}

.nav-enlace:hover{
    background-color: blue;
    color: #fff;
    border-radius: 0.5rem;
}

.servicios:hover .deslizar{
    display: block;
}

.servicios .servi{
    display: flex;
}

.servicios  .dropdown-icon {
    font-size: 20px;
    position: relative;
    right: -5px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.servicios:hover .dropdown-icon {
    transform: rotate(180deg);
}

.deslizar li:hover{
    background-color: blue;
    color: #fff;
    border-radius: 0.5rem;
}

.width{
    width: 155px;
}
