body {
    background-color:aliceblue;
    font-family: "Montserrat";
    font-weight: 500;
    margin: 0;
    padding: 0;
}

header{
    box-sizing: border-box;
    color: #007bff;
    padding: 2em;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #8947b1;
    margin-left: 5px;
}

.nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    font-size: 18px;
    margin-right: 40px;
}

.nav a {
    color: #822989;
    text-decoration: none;
}

.nav a:hover{
    text-decoration: underline;
}

.buttons {
    display: flex;
}

.button {
    margin: 20px;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 600;
    width: 170px;
    height: 50px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #0056b3;
}

.contenido{
    padding:20px 30px;
    justify-content: space-between;
    display: flex;
    margin: 100px;
    background-color:transparent;
    width: 1100px;
    height: 400px;
}

.frase{
    background-color: transparent;
    height: 170px;

}

.frase p{
    font-size: 30px;
    font-family: "Montserrat";
    font-weight: 700;
    color:rgba(58, 142, 246, 1);
}



.imagen{
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: linear-gradient(96.14deg,
    rgba(58, 142, 246, 1) 0%,
    rgba(111, 58, 250, 1) 100%);
    width: 500px;
    height: 300px;
    border-radius: 80%;
    padding: 60px 40px;
}

.contenido-ori{
    padding: 10px;
    margin: auto;
    background-color:#ffffff ;
    width: 1350px;
    height: 1450px;
}

.nuestro-aliados{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

.contenido-ori h2{
    font-size: 40px;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
}

.aliados{
    margin: 40px;
}

.funcionalidad1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
}

.alimentos{
    padding: 0 20px;
    box-sizing: border-box;
    margin: 30px;
    background-color: #ffffff;
    width: 350px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.funcionalidad1 .logo{
    position: relative;
    right: 20px;
    margin: 30px;
    background-color:#822989;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.funcionalidad2 .logo{
    position: relative;
    right: 20px;
    margin: 30px;
    background-color:#822989;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.ejercicios{
    box-sizing: border-box;
    padding: 0 20px;
    margin: 30px;
    background-color: #ffffff;
    width: 350px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1)
}

.planes-alimenticios{
    box-sizing: border-box;
    padding: 0 20px;
    margin: 30px;
    background-color:#ffffff;
    width: 350px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1)
}

.funcionalidad2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
}

.planes-ejercicios{
    box-sizing: border-box;
    padding: 0 20px;
    margin: 30px;
    background-color:#ffffff;
    width: 350px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1)
}

.estado-salud{
    box-sizing: border-box;
    padding: 0 20px;
    margin: 30px;
    background-color: #ffffff;
    width: 350px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1)
}

.enfermedad{
    box-sizing: border-box;
    padding: 0 20px;
    margin: 30px;
    background-color: #ffffff;
    width: 350px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1)
}

.parrafo p{
    color:rgba(58, 142, 246, 1);
    text-align: justify;
}

.botones button {
    height: 60px;
    width: 300px;
    background: linear-gradient(96.14deg,
    rgba(58, 142, 246, 1) 0%,
    rgba(111, 58, 250, 1) 100%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
    box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);
}

.btn1 button{
    margin-top: 60px;
}

.btn2 button{
    margin-top: 20px;
}

.btn3 button{
    margin-top: 40px;
}

.btn4 button{
    margin-top: 40px;
}

.btn5 button{
    margin-top: 60px;
}

.btn6 button{
    margin-top: 40px;
}

.novedad{
    display: flex;
    background-color: aliceblue;
}

.img{
    margin: 100px;
}

.img img{
    border-radius: 40px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1)
}

.novedad{
    background-color: #ffffff;
}

.novedades{
    margin: 100px;
    background-color:transparent;
    height: 250px;
    width: 300px;

}

.novedades h4{
    font-size: 30px;
    margin-bottom: 20px;
}

.novedades p{
    text-align: justify;
    margin-bottom: 30px;
}

.novedades button{
    height: 60px;
    width: 200px;
    background: linear-gradient(96.14deg,
    rgba(58, 142, 246, 1) 0%,
    rgba(111, 58, 250, 1) 100%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
    box-shadow: 0px 8px 23px 0px rgba(65, 132, 247, 0.24);

}

.container {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #007bff;
    position: relative;
    z-index: 1;
}
.logo {
    display: flex;
    align-items: center;
}
.logo h2 {
    margin-left: 10px;
    font-size: 20px;
}
.links {
    display: flex;
}
.links a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
}
.links a:hover {
    text-decoration: underline;
}
.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #888;
}
.footer-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    z-index: -1;
}










