<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes Alimenticios</title>
    <link rel="stylesheet" href="/Css/PlanesAlimenticios.css">
    <link rel="shortcut icon" href="/Img/B.S.D 1.png" type="image/x-icon">
</head>

<body>

    <div class="table-container">
        <table>
            <caption>PLANES ALIMENTICIOS</caption>
            <thead>
                <tr>
                    <th>Día</th>
                    <th>Desayuno
                        (7:00 am - 8:00 am)
                    </th>
                    <th>Almuerzo
                        (12:00 pm - 1:00 pm)
                    </th>
                    <th>Cena
                        (5:00 pm - 6:00 pm)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="day, meals : ${FoodPlans}">
                    <td th:text="${day}"></td>
                    <td th:text="${meals[0].desayuno}"></td>
                    <td th:text="${meals[1].almuerzo}"></td>
                    <td th:text="${meals[2].cena}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>