<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes Alimenticios</title>
    <link rel="stylesheet" href="/Css/PlanesAlimenticios.css">
    <link rel="shortcut icon" href="/Img/B.S.D 1.png" type="image/x-icon">
</head>
<body>
    <div class="table-container"> 
        <table>
            <caption>PLANES ALIMENTICIOS</caption>
            <thead>
                <tr>
                    <th>Día</th>
                    <th>Desayuno
                        (7:00 am - 8:00 am)
                    </th>
                    <th>Almuerzo
                        (12:00 pm - 1:00 pm)
                    </th>
                    <th>Cena
                        (5:00 pm - 6:00 pm)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Día">Lunes</td>
                    <td data-title="Desayuno">Sándwich integral de jamón de pavo, jugo de piña y yogur griego.</td>
                    <td data-title="Almuerzo">Pechuga de pollo a la plancha, arroz integral, brócoli y 1 vaso de agua de piña.</td>
                    <td data-title="Cena">Sopa de verduras (puedes agregar a la sopa algún marisco o pechuga de pollo).</td>
                </tr>
                <tr>
                    <td data-title="Día">Martes</td>
                    <td data-title="Desayuno">Avena preparada con leche de almendras y plátano, vaso con agua.</td>
                    <td data-title="Almuerzo">Sopa de verduras con algún marisco o pechuga de pollo, 1/2 taza de arroz integral y un vaso de agua.</td>
                    <td data-title="Cena">Pescado al vapor y ensalada de vegetales.</td>
                </tr>
                <tr>
                    <td data-title="Día">Miércoles</td>
                    <td data-title="Desayuno">Cereal integral con leche de almendras y rodajas de plátano, jugo de naranja sin azúcar.</td>
                    <td data-title="Almuerzo">Pescado al vapor y ensalada de vegetales + 1 vaso de agua.</td>
                    <td data-title="Cena">Filete a la plancha (pollo o carne), verduras cocidas y una fruta.</td>
                </tr>
                <tr>
                    <td data-title="Día">Jueves</td>
                    <td data-title="Desayuno">Panquecas de avena con fruto seco y agua de piña.</td>
                    <td data-title="Almuerzo">Brochetas de pechuga de pollo o camarones, brócoli y ensalada de vegetales + 1 vaso de agua de piña.</td>
                    <td data-title="Cena">Brócoli al vapor, 1 huevo cocido, yogur y una fruta.</td>
                </tr>
                <tr>
                    <td data-title="Día">Viernes</td>
                    <td data-title="Desayuno">Sándwich de atún con lechuga o espinacas e infusión.</td>
                    <td data-title="Almuerzo">Pescado al vapor, 1/2 taza de arroz integral y ensalada de vegetales + 1 vaso de agua.</td>
                    <td data-title="Cena">Ensalada de lechuga con vegetales y trozos de pechuga de pollo a la plancha.</td>
                </tr>
                <tr>
                    <td data-title="Día">Sábado</td>
                    <td data-title="Desayuno">Omelet de espinacas, jugo de naranja sin azúcar.</td>
                    <td data-title="Almuerzo">Filete de carne de res a la plancha, vainitas al vapor y ensalada de vegetales + vaso de agua.</td>
                    <td data-title="Cena">Pescado y vainitas al vapor, 1/2 tomate en rodajas.</td>
                </tr>
                <tr>
                    <td data-title="Día">Domingo</td>
                    <td data-title="Desayuno">Omelet de espinacas, jugo de naranja sin azúcar.</td>
                    <td data-title="Almuerzo">Filete de carne de res a la plancha, vainitas al vapor y ensalada de vegetales + vaso de agua.</td>
                    <td data-title="Cena">Pescado y vainitas al vapor, 1/2 tomate en rodajas.</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>