<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes Ejercicios</title>
    <link rel="stylesheet" href="/Css/PlanesEjercicio.css">
    <link rel="shortcut icon" href="/Img/B.S.D 1.png" type="image/x-icon">
</head>

<body>
    <div class="table-container">
        <table>
            <caption>PLANES EJERCICIOS</caption>
            <thead>
                <tr>
                    <th>Día</th>
                    <th>Tipo Ejercicio</th>
                    <th>Nombre Ejercicio</th>
                    <th>Intensidad</th>
                </tr>
            </thead>
            <tbody th:each="entry : ${exercisePlans}">
                <tr th:each="value:${entry.value}">
                    <td th:each="item:${value}" th:text="${item}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>