<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes Ejercicios</title>
    <link rel="stylesheet" href="/Css/PlanesEjercicio.css">
    <link rel="shortcut icon" href="/Img/B.S.D 1.png" type="image/x-icon">
</head>

<body>
    <div class="table-container">
        <table>
            <caption>PLANES EJERCICIOS</caption>
            <thead>
                <tr>
                    <th>Día</th>
                    <th>Tipo Ejercicio</th>
                    <th>Nombre Ejercicio</th>
                    <th>Intensidad</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iteramos sobre cada entrada en 'exercisePlans' -->
                <tr th:each="entry : ${exercisePlans}">
                    <td th:if="${entry.value.size() > 0}" th:text="${entry.key}" colspan="4"></td>
                    <!-- Muestra el día solo en la primera fila -->
                </tr>
                <tr th:each="log : ${entry}">
                    <td th:text="${log.Day}"></td>
                    <td th:text="${log.ExerciseName}"></td>
                    <td th:text="${log.ExerciseType}"></td>
                    <td th:text="${log.ExerciseIntensity}"></td>
            </tbody>
        </table>
    </div>
</body>

</html>