<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Alimenticio</title>
        <link rel="stylesheet" href="/Css/HomeRegistroAlimento.CSS">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel="shortcut icon" href="/Img/B.S.D 1.png" type="image/x-icon">
    </head>

    <body>
        <nav>
            <!-- Checkbox for toggling menu -->
            <input type="checkbox" id="check">
            <!-- Menu icon -->
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <!-- Site logo -->
            <label class="logo">REGISTRO ALIMENTICIO</label>
            <!-- Navigation links -->
            <ul>
                <li><a class="active" href="#">HOME</a></li>
                <li><a href="/Api/Users/Food/RegistroAlimento">REGISTRO
                        ALIMENTICIO</a></li>
                <li><a href="/Api/Users/Food/TablaAlimento">LISTA ALIMENTICIO</a></li>
            </ul>
        </nav>
        <section class="section-home">
            <section class="section-home">
                <div class="container-home">
                    <div class="parrafo-bienvenida">
                        <h1>REGISTRO ALIMENTICIO</h1>
                        <p class="texto1">CUIDA TU CUERPO, ALIMENTA TU VIDA UNA
                            BUENA</p>
                        <p class="texto2"> NUTRICION ES LA BASE DE UNA VIDA
                            SALUDABLE</p>
                        <a class="btn" href="/Api/Users/Food/RegistroAlimento">Comienza Ahora</a>
                    </div>
                </div>
            </section>
        </section>
    </body>

</html>