<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/HomeRegistroEjercicio.CSS">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="shortcut icon" href="/Img/B.S.D 1.png" type="image/x-icon">
</head>

<body>
    <nav>
        <!-- Checkbox for toggling menu -->
        <input type="checkbox" id="check">
        <!-- Menu icon -->
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <!-- Site logo -->
        <label class="logo">REGISTRO EJERCICIOS</label>
        <!-- Navigation links -->
        <ul>
            <li><a class="active" href="/Api/Users/Exercises/Home">HOME</a></li>
            <li><a href="/Api/Users/Exercises/RegistroEjercicio">REGISTRO EJERCICIO</a></li>
            <li><a href="#">LISTA EJERCICIO</a></li>
        </ul>
    </nav>

    <section class="section-home">
        <div class="parrafo-bienvenida">
            <p class="texto1">
                NO TE DETENGAS HASTA
            </p>
            <P class="texto2">
                QUE TE SIENTAS ORGULLOSO
            </P>
            <a class="btn" href="/Api/Users/Exercises/RegistroEjercicio" href="@{/Api/Users/Exercises/RegistroEjercicio}">Comienza Ahora</a>
        </div>
    </section>
</body>

</html>