<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes Ejercicios</title>
    <link rel="stylesheet" href="/Css/PlanesEjercicio.css">
    <link rel="shortcut icon" href="/Img/B.S.D 1.png" type="image/x-icon">
</head>

<body>
    <div class="table-container">
        <table>
            <caption>PLANES EJERCICIOS</caption>
            <thead>
                <tr>
                    <th>Día</th>
                    <th>Tipo de Ejercicio</th>
                    <th>Nombre del Ejercicio</th>
                    <th>Intensidad</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Fin</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="log : ${exerciseLogs}">
                    <td th:text="${log.StrartDate}"></td>
                    <td th:text="${log.ExerciseType}"></td>
                    <td th:text="${log.ExerciseName}"></td>
                    <td th:text="${log.ExerciseIntensity}"></td>
                    <td th:text="${log.formattedStartDate}"></td>
                    <td th:text="${log.formattedFinalDate}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>