<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes Ejercicios</title>
    <link rel="stylesheet" href="/Css/PlanesEjercicio.css">
    <link rel="shortcut icon" href="/Img/B.S.D 1.png" type="image/x-icon">
</head>

<body>
    <div class="table-container">
        <table>
            <caption>PLANES EJERCICIOS</caption>
            <thead>
                <tr>
                    <th>Día</th>
                    <th>Tipo Ejercicio</th>
                    <th>Nombre Ejercicio</th>
                    <th>Intensidad Ejercicio</th>
                    <th>Fecha Hora Inicial</th>
                    <th>Fecha Hora Final</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Día">Lunes</td>
                    <td data-title="Tipo Ejercicio">Cardio</td>
                    <td data-title="Nombre Ejercicio">Flexiones Declinadas</td>
                    <td data-title="Intensidad Ejercicio">Moderada</td>
                    <td data-title="Fecha Hora Inicial">2024/11/09 07:00</td>
                    <td data-title="Fecha Hora Final">2024/11/09 08:00</td>
                </tr>
                <tr>
                    <td data-title="Día">Martes</td>
                    <td data-title="Tipo Ejercicio">Resistencia</td>
                    <td data-title="Nombre Ejercicio">Sentadillas</td>
                    <td data-title="Intensidad Ejercicio">Alta</td>
                    <td data-title="Fecha Hora Inicial">2024/11/09 07:00</td>
                    <td data-title="Fecha Hora Final">2024/11/09 08:00</td>
                </tr>
                <tr>
                    <td data-title="Día">Miércoles</td>
                    <td data-title="Tipo Ejercicio">Cardio</td>
                    <td data-title="Nombre Ejercicio">Saltar la cuerda</td>
                    <td data-title="Intensidad Ejercicio">Moderada</td>

                </tr>
                <tr>
                    <td data-title="Día">Jueves</td>
                    <td data-title="Tipo Ejercicio">Pecho</td>
                    <td data-title="Nombre Ejercicio">Flexiones Inclinadas</td>
                    <td data-title="Intensidad Ejercicio">Alta</td>

                </tr>
                <tr>
                    <td data-title="Día">Viernes</td>
                    <td data-title="Tipo Ejercicio">Fuerza</td>
                    <td data-title="Nombre Ejercicio">Press de banca</td>
                    <td data-title="Intensidad Ejercicio">Baja</td>

                </tr>
                <tr>
                    <td data-title="Día">Sábado</td>
                    <td data-title="Tipo Ejercicio">Cardio</td>
                    <td data-title="Nombre Ejercicio">Ciclismo</td>
                    <td data-title="Intensidad Ejercicio">Moderada</td>

                </tr>
                <tr>
                    <td data-title="Día">Domingo</td>
                    <td data-title="Tipo Ejercicio">Fuerza</td>
                    <td data-title="Nombre Ejercicio">Burpees</td>
                    <td data-title="Intensidad Ejercicio">Baja</td>

                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>