@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;

}

nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 300px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 22px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 1050px) {
    label.logo {
        padding-left: 30px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 890px) {
    .checkbtn {
        display: block;
    }

    label.logo {
        font-size: 22px;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}

/*Table  */
.contenido-tabla{
    margin: 100px 0 0 0 ;
    width: 100%;
    overflow-x: auto;
}

table{
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0, 0, .25);
}

table tr{
    padding: .45em;
}

thead tr{
    background-color: #000082;
}

thead th{
    color: #ffffff;
    font-size: 1.15em;
}

tbody tr:nth-child(even){
    background-color: #eaeaea;
}

table th,
table td{
    font-size: 1em;
    padding: 1em;
    text-align: center;
}

thead th{
    color: #ffffff;
    font-size: 1.15em
}

a{
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    color: #ffffff;
}

td a:nth-child(1){
    background-color: #009900;
}

td a:nth-child(2){
    background-color: #c60501;
}

@media (max-width:440px){
    table{
        border: 3px solid #000082;
    }

    table thead tr{
        display: none;
    }
    table tr{
        display: block;
    }
    table th,table td{
        padding: .5em
    }
    table td{
        text-align: right;
        display: block;
        font-size: 1em
    }

    table td::before{
        content: attr(data-title) ": ";
        float: left;
    }

    tbody tr:nth-child(even){
        background-color: #000082;
        color: #fff;
    }

}

@media (min-width: 440px) and (max-width: 1978px) {
    table td[data-title="Action"] {
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    table td[data-title="Action"] a {
        padding: 8px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}