<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Datos del Paciente</title>
        <link rel="stylesheet" href="/Css/EstadoSalud.css">
    </head>
    <body>
        <div class="container">
            <h1>Historial Clínico</h1>

            <!-- Tabla de Datos del Paciente -->
            <div class="table-container">
                <table>
                    <caption>Datos del Paciente</caption>
                    <thead>
                        <tr>
                            <th>Nombre Completo</th>
                            <th>Teléfono</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-title="Nombre Completo">Juan Pérez</td>
                            <td data-title="Teléfono">234 567 890</td>
                            <td data-title="Email">juan.perez@example.com</td>
                        </tr>
                        <tr>
                            <td data-title="Nombre Completo">Juan Pérez</td>
                            <td data-title="Teléfono">234 567 890</td>
                            <td data-title="Email">juan.perez@example.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Tabla de Estado de Salud -->
            <div class="table-container">
                <table>
                    <caption>Estado de Salud</caption>
                    <thead>
                        <tr>
                            <th>Sexo</th>
                            <th>Peso (kg)</th>
                            <th>Edad</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Altura (m)</th>
                            <th>Clasificación IMC</th>
                            <th>Cálculo IMC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-title="Sexo">Masculino</td>
                            <td data-title="Peso">75</td>
                            <td data-title="Edad">30</td>
                            <td data-title="Fecha de Nacimiento">15/05/1993</td>
                            <td data-title="Altura">1.75</td>
                            <td data-title="Clasificación IMC">Normal</td>
                            <td data-title="Cálculo IMC">24.5</td>
                        </tr>
                        <tr>
                            <td data-title="Sexo">Masculino</td>
                            <td data-title="Peso">75</td>
                            <td data-title="Edad">30</td>
                            <td data-title="Fecha de Nacimiento">15/05/1993</td>
                            <td data-title="Altura">1.75</td>
                            <td data-title="Clasificación IMC">Normal</td>
                            <td data-title="Cálculo IMC">24.5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>