<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro Ejercicio</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="/Css/FormularioRegistroEjercicio.CSS">
        <link rel="shortcut icon" href="/Img/B.S.D 1.png" type="image/x-icon">
    </head>

    <body>
        <nav>
            <!-- Checkbox for toggling menu -->
            <input type="checkbox" id="check">
            <!-- Menu icon -->
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <!-- Site logo -->
            <label class="logo">REGISTRO EJERCICIOS</label>
            <!-- Navigation links -->
            <ul>
                <li><a class="active" href="/Api/Users/Exercises/Home">HOME</a></li>
                <li><a href="#">REGISTRO EJERCICIO</a></li>
                <li><a href="/Api/Users/Exercises/TablaEjercicio">LISTA EJERCICIO</a></li>
            </ul>
        </nav>
        <div class="contenido-registroejercicio">
            <h1 th:text="${exerciseLog.id != null ? 'Editar Ejercicio' : 'Registrar Nuevo Ejercicio'}"></h1>
            <form action="/Api/Users/Exercises/RegistrarYEditarEjercicio" method="post" th:object="${exerciseLog}">
                <div class="contenido-principal">
                    <div class="container"> <!---Tipo Ejercicio-->
                        <div class="select-btn">
                            <span class="btn-text">Tipo Ejercicio</span>
                            <span class="arrow-dwn">
                                <i class="fa-solid fa-chevron-down"></i>
                            </span>
                        </div>
                        <ul class="list-items">
                            <div class="search">
                                <input type="text" placeholder="Search">
                            </div>
                            <div class="scrollable-content">
                                <!-- New wrapper -->
                                <li
                                    th:each="ejercicio : ${tiposEjerciciosOptions}"
                                    class="item" >
                                    <input type="checkbox" th:id="${ejercicio}"
                                        th:value="${ejercicio}" class="checkbox"
                                        th:field="*{ExerciseType}">
                                    <label th:for="${ejercicio}"
                                        th:text="${ejercicio}"
                                        class="item-text"></label>
                                </li>
                            </div> <!-- Close the new wrapper -->
                        </ul>
                    </div> <!---Tipo Ejercicio-->
                    <div class="container1"> <!--Nombre Ejercicio-->
                        <div class="select-btn1">
                            <span class="btn-text1">Nombre Ejercicio</span>
                            <span class="arrow-dwn1">
                                <i class="fa-solid fa-chevron-down"></i>
                            </span>
                        </div>
                        <ul class="list-items1">
                            <div class="search1">
                                <input type="text" placeholder="Search">
                            </div>
                            <div class="scrollable-content1">
                                <!-- New wrapper -->
                                <ul>
                                    <li th:each="entry : ${ejerciciosMap}">
                                        <ul>
                                            <li
                                                th:each="ejercicio : ${entry.value}"
                                                class="item" th:attr="data-tipo=${entry.key}">
                                                <input type="checkbox"
                                                    th:id="${ejercicio}"
                                                    th:value="${ejercicio}"
                                                    class="checkbox1"
                                                    th:field="*{ExerciseName}">
                                                <label th:for="${ejercicio}"
                                                    th:text="${ejercicio}"
                                                    class="item-text"></label>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div> <!-- Close the new wrapper -->
                        </ul>
                    </div> <!--Nombre Ejercicio-->
                </div>
                <div class="container2"> <!-- Intensidad Ejercicio -->
                    <div class="select-btn2">
                        <span class="btn-text2">Intensidad Ejercicio</span>
                        <span class="arrow-dwn2">
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                    </div>
                    <ul class="list-items2">
                        <div class="search2">
                            <input type="text" placeholder="Search">
                        </div>
                        <div class="scrollable-content2"> <!-- New wrapper -->
                            <ul>
                                <li th:each="intensidad : ${intensidadOptions}"
                                    class="item2">
                                    <input type="checkbox" th:id="${intensidad}"
                                        class="checkbox2"
                                        th:value="${intensidad}"
                                        th:field="*{ExerciseIntensity}">
                                    <label th:for="${intensidad}"
                                        th:text="${intensidad}"></label>
                                </li>
                            </ul>
                        </div> <!-- Close the new wrapper -->
                    </ul>
                </div> <!-- Intensidad Ejercicio -->

                <!--Datetime-local-->
                <div class="contenido-reloj">
                    <div class="clock-container">
                        <h2>Fecha Inicial</h2>
                        <div class="digital-clock" id="clock">00:00:00</div>
                        <div class="date-display" id="date-display">Fecha
                            Actual</div>
                        <div class="date-picker">
                            <label for="datetime">Cambiar Fecha y Hora</label>
                            <input type="datetime-local" id="datetime"
                                th:field="*{StrartDate}">
                        </div>
                        <button onclick="resetToCurrentTime()"
                            type="button">Restablecer a la
                            Hora Actual</button>
                    </div>
                    <div class="clock-container1">
                        <h2>Fecha Final</h2>
                        <div class="digital-clock1" id="clock1">00:00:00</div>
                        <div class="date-display1" id="date-display1">Fecha
                            Actual</div>
                        <div class="date-picker1">
                            <label for="datetime1">Cambiar Fecha y Hora</label>
                            <input type="datetime-local" id="datetime1"
                                th:field="*{FinalDate}">
                        </div>
                        <button onclick="resetToCurrentTime()"
                            type="button">Restablecer a la
                            Hora Actual</button>
                    </div>
                </div>
                <button class="btn-ejercicio" type="submit"
                    value="Registrar">REGISTRO
                    EJERCICIO</button>
            </form>
        </div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tipoCheckboxes = document.querySelectorAll('.contenido-principal .checkbox');
        const ejerciciosItems = document.querySelectorAll('.contenido-principal .scrollable-content1 .item');

        // Actualiza la visibilidad de los ejercicios según los tipos seleccionados
        function filtrarEjercicios() {
            const tiposSeleccionados = Array.from(tipoCheckboxes)
                .filter(checkbox => checkbox.checked)
                .map(checkbox => checkbox.value); // Obtén los valores de los checkboxes seleccionados

            // Filtrar los ejercicios
            ejerciciosItems.forEach(item => {
                const tipo = item.getAttribute('data-tipo'); // Obtén el tipo asociado al ejercicio
                if (tiposSeleccionados.includes(tipo)) {
                    item.style.display = ''; // Mostrar
                } else {
                    item.style.display = 'none'; // Ocultar
                }
            });
        }

        // Escucha cambios en los checkboxes de "Tipo Ejercicio"
        tipoCheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', filtrarEjercicios);
        });

        // Llamada inicial para ocultar ejercicios al cargar la página
        filtrarEjercicios();
    });
</script>

        <script src="/Js/Exercises/datetime-local.js"></script>
        <script src="/Js/Exercises/filtrarEjercicios"></script>
        <script src="/Js/Exercises/chexbox.js"></script>
        <script src="/Js/Exercises/chexbox1.js"></script>
        <script src="/Js/Exercises/chexbox2.js"></script>
    </body>
</html>