<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="assets/css/StylePaginaPrincipal.CSS">
    <link rel="stylesheet" href="css/fonts.css">

    <title>Paginas Principal</title>
</head>

<body>
    <!--=============== HEADER ===============-->
    <header class="header">
        <nav class="nav container">
            <div class="nav__data">
                <a href="#" class="nav__logo">
                    <i class="ri-planet-line"></i> DSB
                </a>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line nav__burger"></i>
                    <i class="ri-close-line nav__close"></i>
                </div>
            </div>

            <!--=============== NAV MENU ===============-->
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li><a href="#inicio" class="nav__link">Inicio</a></li>

                    <li><a href="#quienes somos" class="nav__link">Quienes Somos</a></li>

                    <!--=============== DROPDOWN 1 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link">
                            Servicios <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-restaurant-line"></i> Alimentos
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-arrow-up-down-line"></i> Ejercicios
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-first-aid-kit-fill"></i> Estado Salud
                                </a>
                            </li>

                            <!--=============== DROPDOWN SUBMENU ===============-->
                            <li class="dropdown__subitem">
                                <div class="dropdown__link">
                                    <i class="ri-virus-fill"></i> Enfermedades <i class="ri-add-line dropdown__add"></i>
                                </div>

                                <ul class="dropdown__submenu">
                                    <li>
                                        <a href="#" class="dropdown__sublink">
                                            <i class="ri-lungs-fill"></i> Cronicas
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="dropdown__sublink">
                                            <i class="ri-mental-health-fill"></i> No Cronicas
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown__subitem">
                                <div class="dropdown__link">
                                    <i class="ri-calendar-todo-fill"></i> Planes <i class="ri-add-line dropdown__add"></i>
                                </div>

                                <ul class="dropdown__submenu">
                                    <li>
                                        <a href="#" class="dropdown__sublink">
                                            <i class="ri-restaurant-line"></i> Alimenticios
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="dropdown__sublink">
                                            <i class="ri-arrow-up-down-line"></i> Ejercicios
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li><a href="#" class="nav__link">Noticias</a></li>

                    <!--=============== DROPDOWN 2 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link">
                            Usarios <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-user-line"></i> Perfiles
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-lock-line"></i> Cuentas
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-message-3-line"></i> Mensajes
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li><a href="#" class="nav__link">Contactos</a></li>
                </ul>
            </div>
        </nav>
    </header>





    <main class="main">
        <section class="section-inicio" id="inicio">
            <div class="imagen">
                <img src="Img/B.S.D 1.png" alt="Logo">
            </div>
            <div class="contenido-texto">
                <h1>Bienvenido</h1>
                <h2>Desarrollo de salud y bienestar para personas con enfermedades cronicas y no cronicas</h2>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi natus reprehenderit aspernatur porro praesentium tempore explicabo quis mollitia. Laboriosam commodi porro maxime, cumque autem consectetur sapiente tempore nam optio eligendi.</p>
            </div>
        </section>
        <section class="quienes-somos" id="quienes somos">
            <div class="contenido-somos">
                <h2>Quienes Somos</h2>
                <div class="contenido1">
                    <div class="contenido-parrafo1">
                        <p>
                            El proyecto Salud y Bienestar para Todos nació con un propósito claro: mejorar la calidad de vida de las personas, sin importar si padecen una enfermedad crónica o no. Todo comenzó cuando un grupo de profesionales del sector de la salud y tecnología, apasionados por el bienestar integral, se unieron con la visión de crear soluciones accesibles y efectivas para quienes enfrentan desafíos en su salud cotidiana
                        </p>
                    </div>
                    <div class="imagen-somos">
                        
                    </div>
                </div>

                <div class="contenido2">
                    <p>
                        En nuestra experiencia trabajando en hospitales, clínicas y en el desarrollo de tecnologías innovadoras, observamos una necesidad urgente: las personas con enfermedades crónicas a menudo luchan por mantener un equilibrio entre el tratamiento médico y su bienestar emocional. Mientras tanto, aquellos sin condiciones médicas crónicas no siempre cuentan con herramientas adecuadas para mantener un estilo de vida saludable preventivo.
                    </p>
                </div>

                <div class="contenido3">
                    <p>
                        Con esta inquietud en mente, decidimos desarrollar un enfoque que combina el uso de tecnología avanzada con un enfoque humano y empático. Así nació nuestra plataforma, diseñada para acompañar a todos en su viaje hacia una vida más saludable, ya sea que estén enfrentando enfermedades crónicas o simplemente buscando mejorar su bienestar diario.
                    </p>
                </div>

                <p>Nuestro proyecto se fundamenta en tres pilares clave:</p>

                <div class="claves">
                    <ul>
                        <li>
                            <p>
                                Prevención: Proveer herramientas educativas y recursos accesibles para fomentar hábitos saludables y prevenir futuras enfermedades.
                            </p>
                        </li>
                        <li>
                            <p>
                                Apoyo Continuo: Crear soluciones personalizadas para quienes viven con condiciones crónicas, facilitando la gestión de sus síntomas, tratamientos y bienestar mental.
                            </p>
                        </li>
                        <li>
                            <p>
                                Comunidad: Fomentar un espacio seguro donde las personas puedan compartir sus experiencias, obtener apoyo y aprender unas de otras, sabiendo que no están solas en este camino.
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="contenido4">
                    <p>
                        A lo largo de los años, hemos sido testigos de cómo nuestro enfoque ha transformado vidas. Pacientes que antes se sentían desbordados ahora gestionan su salud con confianza, y personas sanas han encontrado en nuestra plataforma un aliado en su búsqueda por una vida más plena y equilibrada.
                    </p>
                </div>
                <div class="contenido5">
                    <p>
                        Estamos convencidos de que el bienestar debe ser accesible para todos, y continuaremos innovando para seguir creando soluciones que ayuden a las personas a vivir mejor, un día a la vez.
                    </p>
                </div>
            </div>
        </section>
    </main>
    <script src="assets/js/principal.js"></script>
</body>

</html>