<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salud y Bienestar</title>
    <link rel="stylesheet" type="text/css" href="static/Css/Style.CSS" th:href="@{/Css/Style.CSS}">
    <link rel="stylesheet" type="text/css" href="static/Css/fonts.CSS" th:href="@{/Css/fonts.CSS}">
</head>
<body>
    <header>
        <div class="logo">D. S .B</div>
        <ul class="nav">
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#nosotros">Nosotros</a></li>
            <li><a href="#oficinavirtual">Oficina Virtual</a></li>
            <li><a href="#contactos">Contactos</a></li>
        </ul>
        <div class="buttons">
            <button class="button" id="loginButton"><i class="fas fa-user"></i> Login</button>
            <button class="button" id="signupButton"><i class="fas fa-stethoscope"></i> SignUp</button>
        </div>
    </header>
    <main>
        <section id="inicio" class="contenido">
            <div class="frase">
                <p>“El que tiene salud,tiene esperanza,el que tiene esperanza lo tiene todo”
                </p>
            </div>
            <div class="imagen">
                <img src="../static/Img/B.S.D 1.png" alt="logo">
            </div>
        </section>
        <div class="contenido-ori">
            <h2>Nuestro Aliados</h2>
            <section class="nuestro-aliados">
                <div class="aliados">
                    <img src="../static/Img/Tegno.png" alt="tenco">
    
                </div>
                <div class="aliados">
                    <img src="../static/Img/Gobierno.png" alt="gobierno">
    
                </div>
                <div class="aliados">
                    <img src="../static/Img/Salud.png" alt="salud">
    
                </div>
            </section>
            <h2>Funcionalidad</h2>
            <section class="funcionalidad1" >
                <div class="alimentos">
                    <div class="logo"></div>
                    <div class="parrafo">
                        <h3>Alimentacion</h3>
                        <p>Registro de alimentos nutritivos para llevar un segumiento a las personas</p>
                    </div>
                    <div class="botones btn1">
                        <button>Alimentacion</button>
                    </div>

                </div>
                <div class="ejercicios">
                    <div class="logo"></div>
                    <div class="parrafo">
                        <h3>Ejercicios</h3>
                        <p>Registro de ejercicios para mejorar y llevar un seguimiento de los tipos de ejercicios de la persona para identificar si el ejercicios es riegoso.</p>
                    </div>
                    <div class="botones btn2">
                        <button>Ejercicios</button>
                    </div>

                </div>
                <div class="planes-alimenticios">
                    <div class="logo"></div>
                    <div class="parrafo">
                        <h3>Planes Alimenticios</h3>
                        <p>Recomendaciones de planes alimentacio para el mejoramiento de los alimentos consumidos.</p>
                    </div>
                    <div class="botones btn3">
                        <button>Planes Alimenticios</button>
                    </div>

                </div>
            </section>
            <section class="funcionalidad2">
                <div class="planes-ejercicios">
                    <div class="logo"></div>
                    <div class="parrafo">
                        <h3>Planes Ejercicios</h3>
                        <p>Recomendaciones de los planes ejercicios para el mejoramiento de la salud fisica de las personas.</p>
                    </div>
                    <div class="botones btn4">
                        <button>Planes Ejercicios</button>
                    </div>

                </div>

                <div class="estado-salud">
                    <div class="logo"></div>
                    <div class="parrafo">
                        <h3>Estado Salud</h3>
                        <p>Visualizacion del estado de salud de la persona</p>
                    </div>
                    <div class="botones btn5">
                        <button>Estado Salud</button>
                    </div>
                </div>
                <div class="enfermedad">
                    <div class="logo"></div>
                    <div class="parrafo">
                        <h3>Enfermedad</h3>
                        <p>Recomendaciones de los planes ejercicios para el mejoramiento de la salud fisica de las personas.</p>
                    </div>
                    <div class="botones btn6">
                        <button>Enfermedad</button>
                    </div>
                </div>
            </section>
        </div>
        <section class="novedad">
            <div class="img">
                <img src="https://lirp.cdn-website.com/a979b4f7/dms3rep/multi/opt/gente-caminando-sentada-edificio-hospital-exterior-cristal-clinica-ciudad-ilustracion-vector-plano-ayuda-medica-emergencia-arquitectura-concepto-salud_74855-10130-640w.jpg" alt="imagen">
            </div>
            <div class="novedades">
                <h4>Novedades</h4>
                <p>Mira nuestra ultimas noticias y novedades.</p>
                <button>Novedades</button>
            </div>
        </section>
    </main>
    <footer class="container">
        <div class="logo">
            <h2>D. S. B <span style="color: #007bff;">+</span></h2>
        </div>
        <div class="links">
            <a href="#">Servicios Virtuales</a>
        </div>
        <div class="copyright">
            Copyright © D.S.B - 2024
        </div>
    </footer>
</body>
</html>