<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/Css/Login/style.css" th:href="@{/Css/Login/style.css}">
    <title>Login</title>
  </head>
  <body>
    <div class="login-ingreso">
      <img class="rectangle-20" src="rectangle-200.png" />
      <div class="frame-265">
        <div class="ellipse-6"></div>
        <div class="ellipse-7"></div>
      </div>
      <div class="frame-261">
        <div class="inicio-de-sesi-n">Inicio de sesión</div>
        <div class="inicie-sesi-n-para-acceder-a-su-cuenta">
          Inicie sesión para acceder a su cuenta:
        </div>
      </div>
      <div class="frame-258">
        <div class="frame-259">
          <div class="text-field">
            <div class="text-field2">
              <div class="state-layer">
                <div class="content">
                  <div class="input-text">
                    <div><input type="text" placeholder="Username"
                        name="text"></div>
                  </div>
                  <div class="label-text">
                    <div class="label-text2">Usuario:</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-field">
            <div class="text-field2">
              <div class="state-layer2">
                <div class="content">
                  <div class="input-text">
                    <div class="input-text2"><input class="input-text"
                        type="password" placeholder="password"
                        name="password"></div>
                  </div>
                  <div class="label-text">
                    <div class="label-text3">Contraseña:</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-257">
            <div class="frame-101">
              <input type="checkbox">
              <div class="acu-rdate-de-m">Acuérdate de mí</div>
            </div>
          </div>
        </div>
        <div class="has-olvidado-tu-contrase-a"><a href="#">Has olvidado tu
            contraseña</a></div>
        <div class="frame-260">
          <div class="button">
            <div class="style-layer">
              <div class="button2"><a href="#">Login</a></div>
            </div>
          </div>
          <div class="no-tienes-una-cuenta-sign-up">
            <span>
              <span class="no-tienes-una-cuenta-sign-up-span">
                ¿No tienes una cuenta?
              </span>
              <span class="no-tienes-una-cuenta-sign-up-span2">
                <a href="/Registro/Registro.html">Sign
                  up</a>
              </span>
            </span>
          </div>
        </div>
        <div class="frame-262">
          <div class="rectangle-6"></div>
          <div class="o-inicie-sesi-n-con">O inicie sesión con</div>
          <div class="rectangle-7"></div>
        </div>
        <div class="frame-228">
          <a href="#">
            <button class="frame-225">
              <img
                class="flat-color-icons-google"
                src="flat-color-icons-google0.svg" />
            </button>
          </a>
        </div>
      </div>
      <div class="group-3">
        <div class="ellipse-1"></div>
        <div class="group-2">
          <div class="rectangle-21"></div>
          <div class="rectangle-22"></div>
        </div>
      </div>
      <div class="a">D. S. B</div>
      <img class="b-s-d-2" src="b-s-d-20.png" />
    </div>
  </body>
</html>