<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/Css/Registro/style.css" th:href="@{/Css/Registro/style.css}">
    <title>Registro</title>
  </head>
  <body>
    <div class="sign-up-registro">
      <div class="frame-263">
        <div class="frame-261">
          <div class="registro">Registro</div>
          <div
            class="vamos-a-prepararte-para-que-puedas-acceder-a-tu-cuenta-personal">
            Vamos a prepararte para que puedas acceder a tu cuenta personal.
          </div>
        </div>
        <div class="frame-258">
          <div class="frame-259">
            <div class="frame-266">
              <div class="text-field">
                <div class="text-field2">
                  <div class="state-layer">
                    <div class="content">
                      <div class="input-text">
                        <div class="input-text2">
                          <input type="text" placeholder="Nombre">
                        </div>
                      </div>
                      <div class="label-text">
                        <div class="label-text2">Nombre</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-field">
                <div class="text-field2">
                  <div class="state-layer">
                    <div class="content">
                      <div class="input-text">
                        <div class="input-text2">
                          <input type="text" placeholder="Apellido">
                        </div>
                      </div>
                      <div class="label-text">
                        <div class="label-text2">Apellido</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-267">
              <div class="text-field3">
                <div class="text-field2">
                  <div class="state-layer">
                    <div class="content">
                      <div class="input-text">
                        <div class="input-text2">
                          <input type="number" name="number" min="1" max="150"
                            value="1">
                        </div>
                      </div>
                      <div class="label-text">
                        <div class="label-text2">Edad:</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-field">
                <div class="text-field2">
                  <div class="state-layer">
                    <div class="content">
                      <div class="input-text">
                        <div class="input-text2">
                          <input type="text" placeholder="Enfermedad">
                        </div>
                      </div>
                      <div class="label-text">
                        <div class="label-text2">Enfermedad:</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-269">
              <div class="text-field3">
                <div class="text-field2">
                  <div class="state-layer">
                    <div class="content">
                      <div class="input-text">
                        <div class="input-text2">
                          <input type="text" placeholder="Sexo">
                        </div>
                      </div>
                      <div class="label-text">
                        <div class="label-text2">Sexo:</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-field">
                <div class="text-field2">
                  <div class="state-layer">
                    <div class="content">
                      <div class="input-text">
                        <div class="input-text2">
                          <input type="number" placeholder="Peso">
                        </div>
                      </div>
                      <div class="label-text">
                        <div class="label-text2">Peso:</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-268">
              <div class="text-field">
                <div class="text-field2">
                  <div class="state-layer">
                    <div class="content">
                      <div class="input-text">
                        <div class="input-text2">
                          <input type="text" placeholder="Usuario">
                        </div>
                      </div>
                      <div class="label-text">
                        <div class="label-text2">Usuario:</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-field">
                <div class="text-field2">
                  <div class="state-layer">
                    <div class="content">
                      <div class="input-text">
                        <div class="input-text2">
                          <input type="number" placeholder="Altura">
                        </div>
                      </div>
                      <div class="label-text">
                        <div class="label-text2">Altura:</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-field4">
              <div class="text-field2">
                <div class="state-layer2">
                  <div class="contenido">
                    <div class="input-tex">
                      <div class="input">
                        <input type="password" class="Contraseña" placeholder="Password"  name="password1">
                      </div>
                    </div>
                    <div class="label-text">
                      <div class="label-text3">Password</div>
                    </div>
                  </div>
                  <div class="trailing-icon">
                  </div>
                </div>
              </div>
            </div>
            <div class="text-field4">
              <div class="text-field2">
                <div class="state-layer2">
                  <div class="contenido">
                    <div class="input-tex">
                      <div class="input">
                        <input type="password" class="Contraseña" placeholder="Confirm Password"  name="password2">
                      </div>
                    </div>
                    <div class="label-text">
                      <div class="label-text3">Confirm Password</div>
                    </div>
                  </div>
                  <div class="trailing-icon">
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-101">
              <img class="checkbox" src="checkbox0.svg" />
              <div class="acepto-todos-los-t-rminos-y-pol-ticas-de-privacidad">
                <span>
                  <span
                    class="acepto-todos-los-t-rminos-y-pol-ticas-de-privacidad-span">
                    Acepto todos los
                  </span>
                  <span
                    class="acepto-todos-los-t-rminos-y-pol-ticas-de-privacidad-span2">
                    Términos
                  </span>
                  <span
                    class="acepto-todos-los-t-rminos-y-pol-ticas-de-privacidad-span3">
                    y
                  </span>
                  <span
                    class="acepto-todos-los-t-rminos-y-pol-ticas-de-privacidad-span4">
                    Políticas de Privacidad
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="frame-2682">
            <div class="button">
              <div class="style-layer">
                <a href="#">
                  <div class="button2">Crear una cuenta</div>
                </a>
              </div>
            </div>
            <div class="ya-tienes-una-cuenta-login">
              <span>
                <span class="ya-tienes-una-cuenta-login-span">
                  ¿Ya tienes una cuenta?
                </span>
                <span class="ya-tienes-una-cuenta-login-span2">
                  <a href="/Login/Login.html">Login</a>
                </span>
              </span>
            </div>
          </div>
          <div class="frame-262">
            <div class="rectangle-6"></div>
            <div class="o-reg-strate-con">O regístrate con</div>
            <div class="rectangle-7"></div>
          </div>
        </div>
        <div class="frame-228">
          <a href="#">
            <div class="frame-225">
              <img
                class="flat-color-icons-google"
                src="flat-color-icons-google0.svg" />
            </div>
          </a>
        </div>
      </div>
      <img class="rectangle-20" src="rectangle-200.png" />
      <div class="frame-265">
        <div class="ellipse-6"></div>
        <div class="ellipse-7"></div>
      </div>
      <div class="group-3">
        <div class="ellipse-1"></div>
        <div class="group-2">
          <div class="rectangle-21"></div>
          <div class="rectangle-22"></div>
        </div>
      </div>
      <div class="a">D. S. B</div>
      <img class="b-s-d-3" src="b-s-d-30.png" />
    </div>
  </body>
</html>